# Ignore compiled files
*.class

# Ignore NetBeans build folders
/build/
/dist/
/nbproject/private/

# Ignore IDE-specific files
nbactions.xml
nb-configuration.xml

# Ignore NetBeans project files
/nbproject/
/nbproject/private/
build.xml
manifest.mf
